@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

/* Overrides for juniper-ui branding  */
:root {
  --font: "Montserrat";

  --red-lighter: hsl(0, 100%, 94%);
  --yellow: hsl(49, 100%, 41%);

  --text-color: var(--gray8);

  --primary-darker: var(--blue-darker);
  --primary-dark: var(--blue-dark);
  --primary: var(--blue);
  --primary-light: var(--blue-light);
  --primary-lighter: var(--blue-lighter);
}
