@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

/* Overrides for juniper-ui branding  */
:root {
  --font: "Inter";

  --veil: #e1b761;
  --veil-light: #ffeecd;

  --line: #df7a92;
  --line-light: #fbdbdf;

  --blue: #81a1d7;
  --blue-light: #bad5fb;
  --blue-lighter: #e7eefc;

  --grey-light: #ebeef2;

  --red-lighter: var(--line-light);
  --yellow: var(--veil);

  --primary-darker: var(--blue-darker);
  --primary-dark: var(--blue-dark);
  --primary: var(--blue);
  --primary-light: var(--blue-light);
  --primary-lighter: var(--blue-lighter);

  --background: var(--blue-lighter);
  --text-color0: #000000;
  --text-color: #000000cc;
  --text-color-caption: #000000cc;
}

body,
main,
#__next {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slide,
.content,
nav {
  width: 100%;
  max-width: 708px;
  padding: var(--sp-xl) var(--sp-xl);
}

.slide {
  padding: var(--sp-xxl) var(--sp-xl);
  background: white;
  border-radius: var(--sp-md);
  box-shadow: 0px 2px 8px 0px #815b5b26;
}

footer {
  display: flex;
  flex: 1;
  padding: var(--sp-xl) 0;
  justify-content: center;
  align-items: center;
}

input,
textarea {
  padding: var(--sp-sm) var(--sp-md);
  border: none;
  border-radius: var(--radius-rounded);
  font-size: 1rem;
  background: var(--grey-light);

  &.light {
  }
}

button.jnpr-button {
  text-transform: uppercase;
  font-size: 1rem;
  border-radius: var(--sp-xl);
}

a:hover {
  font-style: italic;
}

.content {
  nav.jnpr-menu {
    padding: 0;

    .jnpr-menuItem {
      flex-grow: 0;

      background: white;
      border-radius: var(--sp-xl);
      text-transform: uppercase;

      .jnpr-text {
        font-size: var(--font-size-md);
      }
    }

    .jnpr-menuItem-selected {
      background: black;
      .jnpr-text {
        font-weight: 400;
        color: white;
      }
    }
  }

  .ratingOption {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: var(--radius-rounded);
    background: var(--grey-light);
    padding: var(--sp-sm) 0;

    .jnpr-text {
      text-align: center;
    }

    &.isVoted {
      background: var(--blue-light);
    }
  }

  ul {
    padding-left: var(--sp-xl);
    margin-bottom: var(--sp-xs);
  }
}

@media only screen and (max-width: 600px) {
  .slide {
    min-height: calc(70vh + var(--sp-md));
  }
}
