.container {
  width: 100%;
  max-width: 700px;
  padding: 2rem;
  margin: auto;
}

.groupName {
  padding: var(--sp-xs) var(--sp-sm);
  border-radius: var(--radius-rounded);

  &:hover {
    background: var(--gray-lighter);
    font-style: italic;
  }
}
