.warnings {
  width: 100%;
  padding: var(--sp-md);
  background-color: var(--gray-lighter);
  border-radius: var(--radius-rounded);
}

.rating {
  border: 1px solid var(--gray-light);
}

.ratingVote {
  border-radius: var(--radius-round);
  width: var(--sp-lg);
  height: var(--sp-lg);
  background: var(--gray-light);
}

.lines,
.veils {
  flex-grow: 1;
  padding: var(--sp-md);
  border-radius: var(--radius-rounded);
}

.lines {
  background: var(--red-lighter);
}

.veils {
  background: var(--yellow-lighter);
}

.topicContainer {
  flex-shrink: 0;
}

.topic {
  padding: 0 var(--sp-xs);

  button {
    opacity: 0.3;
    &:hover {
      opacity: 1;
    }
  }

  &:hover {
    border-radius: var(--radius-rounded);
    background: var(--gray-lighter);
  }
}

.minimal {
  padding: var(--sp-xs);
}

@media only screen and (max-width: 600px) {
  .container .topicsContainer {
    grid-template-columns: 1fr;
    width: 100%;
  }

  .container .topicContainer {
    width: 100%;
  }
}
