.lines,
.veils {
  flex-grow: 1;
  padding: var(--sp-md);
  border-radius: var(--radius-rounded);
}

.lines {
  background: var(--line-light);
}

.veils {
  background: var(--veil-light);
}

.topicContainer {
  flex-shrink: 0;
}

.topic {
  padding: 0 var(--sp-xs);

  button {
    opacity: 0.5;
    &:hover {
      opacity: 1;
    }
  }

  &:hover {
    border-radius: var(--radius-rounded);
    background: var(--grey-lighter);
  }
}

.minimal {
  padding: var(--sp-xs);
}

button.round {
  width: var(--sp-xxl);
  height: var(--sp-xxl);
  padding: 0;
  border-radius: var(--radius-round);
}

.fullWidthButton {
  width: 100%;
}

.topicsContainer {
  grid-template-columns: 1fr 1fr;
}

@media only screen and (max-width: 600px) {
  .topicsContainer {
    grid-template-columns: 1fr;
    width: 100%;
  }

  .topicContainer {
    width: 100%;
  }
}
